main{
    margin-bottom: 25px;
    .hombreTitulo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .cajitas-contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        .card{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
            display: flex;
            align-items: center;
            border: 1px solid $color-secundario;
            @include padding (10px, 10px, 10px, 10px);
            transition: 1s;
            &:hover{
                transform: scale(1.01);
            }
            img{
                width: 100%;
            }
            div{
                a{
                    background-color: $color-terciario;
                    color: $color-principal;
                    @include padding (5px, 15px, 5px, 15px);
                    border-radius: 5px;
                }
            }
        }
    }
}