main{
    .registro{
        @extend %flex;
        flex-direction: column;
        .form-contacto{
            background-color: grey;
            color: $color-principal;
            @include padding (50px, 50px, 50px, 50px);
            border-radius: 15px;
            .form-campo{
                text-align: center;
                @include padding (5px, 0px, 5px, 0px);
                transition: 1s;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
    .map-contenedor{
        text-align: center;
        margin: 10px;
    }
}