.footerSections{
    background-color: #f4f4f4;
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    div{
        h3{
            font-weight: bold;
            font-size: 16px;
        }
        ul{
            padding-left: 0px;
            li{
                padding-top: 8px;
                a{
                    color: black;
                    font-size: 14px;
                }
            }
        }
        .redesIcons{
            color: black;
            font-size: 14px;
            a{
                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}