.footerSections{
    background-color: $color-backgroundp;
    @include padding (56px, 0px, 56px, 0px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    div{
        h3{
            font-weight: bold;
            font-size: 16px;
        }
        ul{
            @include padding (0px, 0px, 0px, 0px);
            li{
                @include padding (8px, 0px, 0px, 0px);
                a{
                    color: $color-secundario;
                    font-size: 14px;
                }
            }
        }
    }
    .redes{
        .redesIcons{
            color: $color-secundario;
            font-size: 14px;
            a{
                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}