.hero {
    background-image: url(../img/hero.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $color-principal;
    background-attachment: fixed;
    @extend %flex;
    .heroContent {
        @extend %flex;
        flex-direction: column;
        p {
            font-size: 30px;
        }
        h1 {
            font-size: 65px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        a {
            font-size: 20px;
            background-color: $color-terciario;
            color: $color-principal;
            @include padding (8px, 16px, 8px, 16px);
            border-radius: 4px;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}
.nuevosIngresos {
    width: 100%;
    @include padding (80px, 15px, 80px, 15px);
    h2 {
        text-align: center;
        @include padding (0px, 0px, 24px, 0px);
        color: $color-secundario;
        font-weight: bold;
    }
    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 4px;
        grid-template-areas:
            "item1img item2img item3img item4img"
            "item1t item2t item3t item4t"
            "item1p item2p item3p item4p"
            "item1a item2a item3a item4a"
        ;
        .item001 {
            border: 1px solid $color-secundario;
            @include padding (0px, 0px, 5px, 0px);
            @extend %column;
            text-align: center;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
            h3 {
                font-size: 18px;
                font-weight: bold;
                @include padding (8px, 0px, 0px, 0px);
            }
            div {
                @include padding (0px, 0px, 8px, 0px);
                a {
                    border-bottom: 10px;
                    font-size: 18px;
                    background-color: $color-terciario;
                    color: $color-principal;
                    border-radius: 4px;
                    @include padding (4px, 16px, 4px, 16px);
                    display: inline-block;
                }
            }
            img {
                width: 100%;
            }
        }
        .item002 {
            border: 1px solid $color-secundario;
            @include padding (0px, 0px, 5px, 0px);
            @extend %column;
            text-align: center;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
            h3 {
                font-size: 18px;
                font-weight: bold;
                @include padding (8px, 0px, 0px, 0px);
            }
            div {
                @include padding (0px, 0px, 8px, 0px);
                a {
                    border-bottom: 10px;
                    font-size: 18px;
                    background-color: $color-terciario;
                    color: $color-principal;
                    border-radius: 4px;
                    @include padding (4px, 16px, 4px, 16px);
                    display: inline-block;
                }
            }
            img {
                width: 100%;
            }
        }
        .item003 {
            border: 1px solid $color-secundario;
            @include padding (0px, 0px, 5px, 0px);
            @extend %column;
            text-align: center;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
            h3 {
                font-size: 18px;
                font-weight: bold;
                @include padding (8px, 0px, 0px, 0px);
            }
            div {
                @include padding (0px, 0px, 8px, 0px);
                a {
                    border-bottom: 10px;
                    font-size: 18px;
                    background-color: $color-terciario;
                    color: $color-principal;
                    border-radius: 4px;
                    @include padding (4px, 16px, 4px, 16px);
                    display: inline-block;
                }
            }
            img {
                width: 100%;
            }
        }
        .item004 {
            border: 1px solid $color-secundario;
            @include padding (0px, 0px, 5px, 0px);
            @extend %column;
            text-align: center;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
            h3 {
                font-size: 18px;
                font-weight: bold;
                @include padding (8px, 0px, 0px, 0px);
            }
            div {
                @include padding (0px, 0px, 8px, 0px);
                a {
                    border-bottom: 10px;
                    font-size: 18px;
                    background-color: $color-terciario;
                    color: $color-principal;
                    border-radius: 4px;
                    @include padding (4px, 16px, 4px, 16px);
                    display: inline-block;
                }
            }
            img {
                width: 100%;
            }
        }
    }
}
.estilos {
    width: 100%;
    margin-top: 70px;
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    @include padding (0px, 15px, 0px, 15px);
    div {
        height: 500px;
        text-align: center;
        position: relative;
        transition: 1s;
        &:hover{
            transform: scale(1.05);
        }
        img {
            width: 100%;
            height: 100%;
        }
        h3 {
            position: absolute;
            bottom: 0;
            width: 100%;
            font-weight: 800;
            color: $color-principal;
            font-size: 200%;
            @include padding (0px, 0px, 16px, 0px);
        }
    }
}
.beneficios {
    .beneficiosh2 {
        h2 {
            @include padding (80px, 0px, 0px, 0px);
            color: $color-secundario;
            display: flex;
            justify-content: center;
            font-weight: bold;
        }
    }
    .beneficiosContenedor {
        @include padding (30px, 0px, 80px, 0px);
        display: grid;
        grid-template-rows: 200px;
        grid-template-columns: repeat(4, 1fr);
        .delivery {
            @extend %flex;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
            flex-direction: column;
            p {
                @include padding (10px, 0px, 0px, 0px);
            }
        }
        .creditCard {
            @extend %flex;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
            flex-direction: column;
            p {
                @include padding (10px, 0px, 0px, 0px);
            }
        }
        .time {
            @extend %flex;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
            flex-direction: column;
            p {
                @include padding (10px, 0px, 0px, 0px);
            }
        }
        .refresh {
            @extend %flex;
            transition: 1s;
            &:hover{
                transform: scale(1.05);
            }
            flex-direction: column;
            p {
                @include padding (10px, 0px, 0px, 0px);
            }
        }
    }
}