@media screen and (max-width:768px){
    .hero{
        .heroContent{
            p{
                font-size: 20px;
            }
            h1{
                font-size: 40px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            a{
                font-size: 10px;
                background-color: rgb(187, 62, 62);
                color: white;
                padding: 8px 16px 8px 16px;
                border-radius: 4px;
            }
        }
    }
    .nuevosIngresos{
        .cards{
            width: 100%;
            display: grid;
            gap: 6px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            "item1img item2img" 
            "item3img item4img"
            "item1t item2t" 
            "item3t item4t"
            "item1p item2p" 
            "item3p item4p"
            "item1a item2a" 
            "item3a item4a"
            ;
        }
    }
    .estilos {
        width: 100%;
        margin-top: 24px;
        display: grid;
        grid-template-rows: 500px;
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
    }
    .beneficios{
        .beneficiosContenedor{
            padding-top: 30px;
            padding-bottom: 80px;
            display: grid;
            grid-template-rows: 200px;
            grid-template-columns: repeat(2,1fr);
            grid-template-areas: 
            "delivery creaditcard" 
            "time refresh"
            ;
        }
    }
    main{
        .hombreTitulo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cajitas-contenedor {
            grid-template-columns: 1fr 1fr;
            gap: 0px;
            .card{
                margin-left: 2.5px;
                margin-right: 2.5px;
                margin-top: 2.5px;
                margin-bottom: 2.5px;
            }
        }
        .wpFixed{
            display: none;
        }
    }
}
@media screen and (max-width: 375px){
    .hero{
        .heroContent{
            p{
                font-size: 20px;
            }
            h1{
                font-size: 20px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            a{
                font-size: 10px;
                background-color: rgb(187, 62, 62);
                color: white;
                padding: 8px 16px 8px 16px;
                border-radius: 4px;
            }
        }
    }
    .nuevosIngresos{
        .cards{
            grid-template-columns: 1fr;
            grid-template-areas: none;
            .item001{
                margin-bottom: 2.5px;
                margin-top: 2.5px;
                transition: 1s;
                &:hover{
                    transform: scale(1.01);
                }
            }
            .item002{
                margin-bottom: 2.5px;
                margin-top: 2.5px;
                transition: 1s;
                &:hover{
                    transform: scale(1.01);
                }
            }
            .item003{
                margin-bottom: 2.5px;
                margin-top: 2.5px;
                transition: 1s;
                &:hover{
                    transform: scale(1.01);
                }
            }
            .item004{
                margin-bottom: 2.5px;
                margin-top: 2.5px;
                transition: 1s;
                &:hover{
                    transform: scale(1.01);
                }
            }
        }
    }
    .estilos {
        width: 100%;
        margin-top: 24px;
        display: grid;
        grid-template-rows: 500px;
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
    }
    .beneficios{
        .beneficiosContenedor{
            padding-top: 15px;
            padding-bottom: 30px;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(2,1fr);
            grid-template-areas: 
            "delivery creaditcard" 
            "time refresh"
            ;
            div{
                img{
                    width: 30px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    .cajitas-contenedor {
        grid-template-columns: 1fr;
    }
    .footerSections {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    main{
        .hombreTitulo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cajitas-contenedor {
            grid-template-columns: 1fr;
            .card{
                margin-left: 5px;
                margin-right: 5px;
            }
        }
        .wpFixed{
            display: none;
        }
        .registro{
            .registrate{
                padding-bottom: 10px;
                padding-top: 10px;
            }
            .form-contacto{
                width: 100%;
                @include padding (20px, 45px, 45px, 45px);
                .rock-form-nombre{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0;
                }
                .rock-form-genero{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .rock-form-label{
                        label{
                            padding: 5px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        .map-contenedor{
            text-align: center;
            margin: 10px;
            margin-top: 50px;
            iframe{
                width: 100%;
            }
        }
    }
    
}